body {text-align: center;
    color: #ffffff;
    background-color: #0802A3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h1 {color:#ff4b91;}
footer {text-align: left;}
p {margin-left: 200px; margin-right: 200px; margin-top:60px; margin-bottom:60px;}
nav a {color: #ffcd4b; text-decoration: none; margin-right: 100px; margin-left: 100px;}
nav a:hover {background-color: #ff7676;}
iframe {margin-bottom: 50px;}

.skip{
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left: -999px; 
}
.skip:focus{
    left: 10px;
}

@media only screen and (max-width: 1366px) {
    p {margin-left: 75px; margin-right: 75px; margin-top:30px; margin-bottom:30px;}
    iframe {max-width: 60%;}
}

@media only screen and (min-width: 13365px) {
    p {margin-left: 200px; margin-right: 200px; margin-top:60px; margin-bottom:60px;}
    iframe {min-width: 60%;}
}