body {text-align: center;
    color: #ffffff;
    background-color: #0802A3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h1 {color:#ff4b91;}
footer {text-align: left;}
p {margin-left: 200px; margin-right: 200px; margin-top:60px; margin-bottom:60px;}
nav a {color: #ffcd4b; text-decoration: none; margin-right: 70px; margin-left: 150px;}
nav a:hover {background-color: #ff7676;}
iframe {margin-bottom: 50px;}

.skip{
    color: #ffffff;
    background-color: #000000;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    position: absolute; 
    top: 10px;
    left: -999px; 
}
.skip:focus{
    left: 10px;
}

@media only screen and (max-width: 801px) {
    p {margin-left: 75px; margin-right: 75px; margin-top:30px; margin-bottom:30px;}
    iframe {max-width: 60%;}
    .navi a {float: center; display:block; text-align: center;}
    .dec {margin-left: 100px;}
    h3 {margin-left: 50px;}
}

@media only screen and (min-width: 800px) {
    p {margin-left: 200px; margin-right: 200px; margin-top:60px; margin-bottom:60px;}
    iframe {min-width: 60%;}
}

li {list-style-type: none; margin-bottom: 30px;}
h2 {color: #ff9ac0; margin-top: 60px;}
h3 {color: #ffb1cf;}
.months {display: flex; justify-content: center; padding: 10px;}
.jan {margin-left: 200px;}
.dec {margin-left: -50px;}
